/* ===Подключаем шрифты==================================================================================================================================================== */

/* &display=swap&subset=cyrillic-ext */

@font-face {
	font-family: "Raleway";
	src: url("../fonts/") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-Light.woff2") format("woff2"), url("../fonts/Raleway-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/* -----Normalize------------------------------------------------------------------------------------- */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
}
body {
	font-family: "Raleway", sans-serif;
	line-height: 1;
	color: #27282E;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

/* -----Main-CSS------------------------------------------------------------------------------------- */

._container {
	max-width: 1062px;
	margin: 0px auto;
	padding: 0 15px;
}

._title {
	font-size: 32px;
	line-height: 117.35%;
}

/* ======= HEADER ============================================================================ */
.header {
	background-color: rgba(0, 0, 0, 0.95);
	padding: 46px 0;
	color: #fff;
}
.header__container {
	max-width: 1274px;
}
.header__logo {
	font-family: "Roboto Condensed", sans-serif;
	display: inline-block;
	width: 14.67%;
	font-size: 24px;
	font-weight: 300;
	line-height: 116.66%;
}
.header__nav {
	display: inline-block;
	text-align: right;
	width: 84.5%;
}
.header__item {
	margin: 0px 20px 0px 0px;
}
.header__item_five {
	margin: 0px 40px 0px 0px;
}
.header__item_last {
	margin: 0;
}
.header__link {
	font-size: 14px;
	font-weight: 300;
	color: inherit;
}
/* ======== PAGE =========================================================================== */
.page {
}
.page__container {
}
.page__mainscreen {
}
.page__directions {
	padding: 120px 0 140px;
}
.page__safely {
	padding: 70px 0 102px;
}
.page__founder {
	padding: 160px 0 115px;
}
/* =================================================================================== */
.mainscreen {
	background-color: rgba(0, 0, 0, 0.95);
	min-height: 680px;
	padding: 40px 0px 0px 0px;
}
.mainscreen__container {
	max-width: 1274px;
}
.mainscreen__content {
	color: #fff;
	max-width: 320px;
}
.mainscreen__title {
	font-size: 64px;
	font-weight: 300;
	line-height: 116.666%;
	margin: 0px 0px 20px 0px;
}
.mainscreen__text {
	font-size: 20px;
	line-height: 140%;
	margin: 0px 0px 40px 0px;
}
.mainscreen__link {
	display: inline-block;
	font-size: 15px;
	line-height: 46px;
	color: inherit;
	background-color: #434aff;
	padding: 0 23px;
}
/* =================================================================================== */

.directions {
}
.directions__container {
}
.directions__title-block {
	text-align: center;
	margin: 0px 0px 60px 0px;
}
.directions__title {
}

.directions__items {
	margin: 0 -15px;
}
.directions__item {
	display: inline-block;
	width: 24.5%;
	padding: 0 15px;
}
.directions__image {
	display: block;
	width: 100%;
}
.directions__image img {
	max-width: 100%;
	margin: 0px 0px 15px 0px;
}
.directions__link {
	display: inline-block;
	width: 100%;
	text-align: center;
	color: inherit;
}
/* =================================================================================== */

.safely {
	background-color: rgba(67, 74, 255, 0.05);
}
.safely__container {
}
.safely__title-block {
	margin: 0px 0px 32px 0px;
}
.safely__title span {
	color: #434AFF;
	text-decoration: underline;
}
._title {
}
.safely__row {
	
}
.safely__column {
	display: inline-block;
	width: 49.5%;
	vertical-align: top;
}
.safely__image {
	max-width: 398px;
	overflow: hidden;
}
.safely__image img{
	max-width: 100%;
}
.safely__items {
	padding: 10px 0 0;
	margin: -20px -30px;
}
.safely__item {
	display: inline-block;
	width: 49.5%;
	padding: 20px 30px;
	vertical-align: top;
}
.item-safely {
	font-weight: 500;
}
.item-safely__title {
	font-size: 21px;
	line-height: 116.66%;
	margin: 0px 0px 10px 0px;
}
.item-safely__text {
	font-size: 15px;
	line-height: 147%;
}
/* =================================================================================== */

.founder {
}
.founder__container {
}
.founder__row {
	margin: 0 -40px;
}
.founder__column {
	display: inline-block;
	width: 49.5%;
	padding: 0 40px;
	vertical-align: top;
}
.founder__image {
	width: 100%;
	overflow: hidden;
}
.founder__image img {
	max-width: 100%;
}
.founder__header {
	margin: 0px 0px 20px 0px;
}
.founder__name {
	font-size: 32px;
	line-height: 118.75%;
	color: #434AFF;
	margin: 0px 0px 10px 0px;
}
.founder__position {
	font-size: 16px;
	line-height: 150%;
	color: #848484;
}
.founder__text-block {
	margin: 0px 0px 24px 0px;
}
.founder__text {
	font-size: 15px;
	line-height: 147%;
	margin: 0px 0px 20px 0px;
}
.founder__text_last {
	margin: 0;
}
.founder__social {
}
.founder__link {
	color: #434AFF;
	margin: 0px 15px 0px 0px;
}
.founder__link_last {
	margin: 0;
}
/* =================================================================================== */

/* ====== FOOTER ============================================================================= */
.footer {
	background-color: #f1f1f1;
	padding: 80px 0;
}
.footer__container {
	max-width: 1274px;
}
.footer__title-block {
	text-align: center;
	margin: 0px 0px 30px 0px;
}
.footer__title {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-shadow: 3px 4px 5px rgba(0, 77, 9, 0.5);
}
.footer__block {
}
.block {
	margin: 0px 0px 50px 0px;
}
.block__task {
	font-size: 18px;
	line-height: 120%;
	font-weight: 600;
	margin: 0px 0px 15px 0px;
}
.block__span {
	display: block;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 500;
}
.block__text {
	display: inline-block;
	max-width: 200px;
	max-height: 200px;
	overflow: auto;
	background-color: rgb(255, 153, 0);
	padding: 15px;
}
.block__text_color {
	background-color: rgba(143, 0, 0, 0.693);
	color: #fff;
}
.block__link {
	display: inline-block;
	font-size: 17px;
	font-weight: 500;
	margin: 0px 0px 30px;
	background-color: rgba(67, 73, 255, 0.2);
	color: inherit;
}
.block__paragraph {
	display: inline-block;
	font-size: 12px;
	max-width: 100px;
	padding: 10px;
	margin: 0px 30px 0px 0px;
	background-color: rgba(82, 82, 82, 0.2);
	vertical-align: top;
	text-shadow: 1px 2px 7px rgba(46, 39, 39, 0.3), -1px 2px 10px rgba(255, 0, 0, 0.4);
}
.block__paragraph_last {
	margin: 0;
}
.block__div {
	text-indent: 30px;
	background-color: rgba(211, 211, 211, 0.8);
	padding: 30px;
}
.block__div_last {
	background-color: rgba(146, 105, 105, 0.5);
	margin: -40px 0 0 0;
}
.block__span-scroll {
	font-size: 17px;
	line-height: 120%;
	display: inline-block;
	max-height: 200px;
	background-color: rgba(229, 229, 229, 0.15);
	text-shadow: 0px 0px 10px rgba(39, 40, 46, 0.3);
	overflow: auto;
	padding: 10px 15px;
}